<div *ngIf="!loggedIn" class="jumbotron">
    <login (loggedIn)="logIn($event)" ></login>
</div>
<div *ngIf="loggedIn">
<nav class="navbar navbar-default">
   <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand">Timesheet</span>
    </div>
    <ul class="nav navbar-nav">
      <li routerLink="/details" routerLinkActive="active"><a routerLink="/details">Details</a></li>
      <li routerLink="/break" routerLinkActive="active"><a routerLink="/break">Take a Break</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a>Logged in at: {{appserv.loginTime}}</a></li>
        <button class="btn btn-danger navbar-btn" (click)="logOut()">Logout</button>
    </ul>
</div>
</nav>

<router-outlet></router-outlet>
<div id="logout" class="panel panel-danger" [class.hidden]="!logoutClicked" >
    <div class="panel-heading">
    You worked for {{workTime}} seconds.
    </div>
<div class="panel-body">
    Do you want to exit?<br/><br/>
    <button class="btn btn-danger" (click)="exit()">Yes</button>
    <button class="btn btn-default"(click)="logoutClicked=false">No</button>
</div>
</div>

</div>
