<div class="maincont">
    <h2>Details</h2>
    <div id="month">
        <form>
            <div class="form-group">
                <label>Month</label>
                <input type="month" name="month" class="form-control" />
            </div>
        </form>
        <div id="monthlyview">
        </div>
    </div>
    <div id="week">
        <form>
            <div class="form-group">
                <label>Week</label>
                <input type="week" name="week" class="form-control" />
            </div>
        </form>
        <div id="weeklyview">
        </div>
    </div>
</div>

