<div id="form" class="login">
    <h1>Timesheet <span *ngIf="!register">login</span><span *ngIf="register">register</span> </h1>
	<form id="login">
		<div class="form-group" [class.hidden]="!register" [class.has-error]="emailWrong || emailExists">
			<label> Email:</label><br/>
			<input type="email" name="email" class="form-control" [(ngModel)]="email" ><br/>
		</div>
		<div *ngIf="emailExists" class="alert alert-danger">
			User id with <strong>the email</strong> already exists!
		</div>
		<div *ngIf="emailWrong" class="alert alert-danger">
			<strong>The email</strong> is not a valid email.
		</div>
		<div class="form-group" [class.hidden]="!register">
			<label> Date of Birth:</label><br/>
			<input type="date" name="dob" class="form-control" [(ngModel)]="dob" ><br/>
		</div>
		<div class="form-group" [class.has-error]="passWrong || userExists">
		<label>Username:</label><br/>
		<input type="text" name="username" class="form-control" [(ngModel)]="user"/><br/>
		</div>
		<div *ngIf="userExists" class="alert alert-danger">
			<strong>Username</strong> already exists! <a href="#" class="alert-link">Forgot password?</a>
		</div>
		<div class="form-group" [class.has-error]="passWrong">
		<label>Password:</label><br/>
		<input type="password" name="pass" class="form-control" [(ngModel)]="pass"/><br/>
		</div>
		<div *ngIf="passWrong" class="alert alert-danger">
			<strong>Sorry!</strong> Wrong username/password! <a href="#" class="alert-link">Forgot password?</a>
		</div>
		<button class="btn" [class.btn-primary]="!register" [class.btn-default]="register" (click)="submit()">Check In</button>
		<button class="btn" [class.btn-primary]="register" [class.btn-default]="!register" (click)="registerClicked()">Register</button>
	</form>
</div>

