<div id="form" class="login">
    <h1>Timesheet <span *ngIf="!register">login</span><span *ngIf="register">register</span> </h1>
	<form id="login">
		<div class="form-group" [class.hidden]="!register">
			<label> Email:</label><br/>
			<input type="email" name="email" class="form-control"><br/>
		</div>
		<div class="form-group" [class.hidden]="!register">
			<label> Email:</label><br/>
			<input type="date" name="email" class="form-control"><br/>
		</div>
		<div class="form-group" [class.has-error]="wrong">
		<label>Username:</label><br/>
		<input type="text" name="username" class="form-control" [(ngModel)]="user"/><br/>
		</div>
		<div class="form-group" [class.has-error]="wrong">
		<label>Password:</label><br/>
		<input type="password" name="pass" class="form-control" [(ngModel)]="pass"/><br/>
		</div>
		<div *ngIf="wrong" class="alert alert-danger">
			<strong>Sorry!</strong> Wrong username/password! <a href="#" class="alert-link">Forgot password?</a>
		</div>
		<button class="btn" [class.btn-primary]="!register" [class.btn-default]="register" (click)="submit()">Check In</button>
		<button class="btn" [class.btn-primary]="register" [class.btn-default]="!register" (click)="registerClicked()">Register</button>
	</form>
</div>

