/* You can add global styles to this file, and also import other style files */
.login {
    width: 40%;
    margin: auto;
}
.hidden {
    display: none;
}
.jumbotron h1 {
    text-align: center;
}
.maincont {
    width: 85%;
    margin: auto;
}

#week {
    width: 50%;
    position: absolute;
    right: 0px;
}

#month {
    width: 50%;
    position: absolute;
    left: 0px;
}