/* You can add global styles to this file, and also import other style files */
.login {
    width: 40%;
    margin: auto;
}
.hidden {
    display: none;
}
.jumbotron h1 {
    text-align: center;
}
.maincont {
    width: 85%;
    margin: auto;
}

#week {
    width: 50%;
    height: 70%;
    position: absolute;
    right: 0px;
    border-left: 1px solid black;
}

#month {
    width: 50%;
    height: 70%;
    position: absolute;
    left: 0px;
    border-right: 2px solid black;
}
.detv {
    width: 85%;
    margin: auto;
}
#logout {
    width: 50%;
    height: 50%;
    position: fixed;
    left: 25%;
    top: 25%;
    z-index: 5;
}
